{% extends "base.html" %}
{% block js %}

{% endblock %}

{% block main %}
<h1>Contact Form</h1>
<hr>
<div class="container">
    
 <form action="{{ url_for('contact') }}" method="post">
      
 <div class="fom-group">
 {{ form.name.label }}
 <br>
 {{ form.name }}
 </div>
 
 <div class="fom-group">
 {{ form.email.label }}
 <br>
 {{ form.email }}
 </div>
 
 <div class="fom-group">
 {{ form.subject.label }}
 <br>
 {{ form.subject }}
 </div>
 
 <div class="fom-group">
 {{ form.message.label }}
 <br>
 {{ form.message }}
 </div>
 
 {{ form.csrf_token }} 
 
 <button type="submit" class="btn btnprimary">Submit</button>
 </form>
</div>
{% endblock %}
Now that you have created your form, 